*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

input[type='file']{
    
    display:none;
    
}

embed{
    width: 40vw;
    margin: 0 auto;
    display: block;    
    border-radius: 10%;
    transition: .5s; 

}
label{
  
    width: 40vw;
    margin: 0 auto;
    display: block;    
    border-radius: 10%;
    transition: .5s; 

}

.centra_upload{
    margin-top:10px;
    margin-left: 35%;
}

.img0{
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: .5s; 
    border-radius: 10%;
    box-shadow:8px 8px 10px rgb(107, 107, 107);
    background-repeat: no-repeat;
    position: relative;  
    height: 25vw;

    
}


.img1{
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: .5s; 
    border-radius: 10%;
    background-repeat: no-repeat;
    position: relative;  
    height: 50px;  
}
@media(max-width:760px){
    .img0{
        height: 50vw;
    }
    label{width: 90%;
          margin-top: 50px; 
    }
}
embed{
    
}


embed:hover{
    box-shadow: 10px 10px 30px black/*rgb(162, 162, 162)*/;
    

}

h1{text-align:center ;
    margin:0px 0 10px 0;
}

.tel{ 
    margin-left: 35%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
.tel1{ 
    margin-left: 41%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width: 769px){

    .tel{margin: 0 ;}
    .sup{padding-top: 130px;
         margin-left: 270px;   
         }  
    .tel1{margin-left:28% }
        }
